Repository 2020leon/typeorm-migrate-sql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint, shellcheck, prettier

feat: generate sql files and migrate
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  scripts/version.sh
  src/action/create.ts
  src/action/generate.ts
  src/action/get-version.ts
  src/action/run.ts
  src/cli.ts
  src/error/typeorm-migrate-sql-error.ts
  src/logger.ts
  src/metadata/package.ts
  src/metadata/supported-db.ts
  src/util/cli.ts
  src/util/fs.ts
  src/util/typeorm.ts
  tsconfig.json
Due: eslint, shellcheck, prettier

docs: complete readme
  README.md
Due: markdownlint

docs: create changelog
  CHANGELOG.md
Due: markdownlint

fix: correct nodejs version
  package.json
Due: prettier

fix: check if the last version is successful
  src/action/get-version.ts
  src/action/run.ts
  src/util/typeorm.ts
Due: eslint

docs: fix readme and modify changelog
  CHANGELOG.md
  README.md
Due: markdownlint

0.0.1
  package.json
  src/metadata/package.ts
Due: eslint, prettier

docs: correct install script
  README.md
Due: markdownlint

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier

style: introduce plugin:@typescript-eslint/strict
  .eslintrc.json
  src/action/generate.ts
  src/util/cli.ts
Due: eslint, prettier

docs: complete json in readme
  README.md
Due: markdownlint

feat: print possible reasons when version not found
  src/action/get-version.ts
Due: eslint

docs: modify readme and changelog
  CHANGELOG.md
  README.md
Due: markdownlint

docs: update copyright year
  LICENSE
Due: none

0.0.2
  package.json
  src/metadata/package.ts
Due: eslint, prettier

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  markdownlint: any of: *.md
  shellcheck: any of: *.sh
  prettier: any of: *.json
